
@{
    
}


<div style="display:flex; flex-direction:row; justify-content:center; margin-top:200px;">
   <div style="display:flex; flex-direction:column; align-items:center;">
        <p style="font-size:30px; font-weight:bold; color:blue;">Arithmetic operation</p>
        <p style="font-size:40px; font-weight:bold; color:green; margin-top:30px;">@Model</p>
   </div>
</div>